<h2 class="content-block">Custom Fields</h2>

<div id="tabs">
    <dx-tabs
        #apiTabs
        [dataSource]="tabs"
        [scrollByContent]="true"
        [showNavButtons]="true"
        [selectedIndex]="0"
        (onItemClick)="selectTab($event)"
    ></dx-tabs>
    <div class="content dx-fieldset">
        <div class="dx-field">
            <dx-list           
            [items]="field"
            [repaintChangesOnly]="true"
            keyExpr="id">
            <dxo-item-dragging
                group="tasks"
                [data]="field"
                [allowReordering]="true"
                [onDragStart]="onDragStart"
                [onAdd]="onAdd"
                [onRemove]="onRemove">
            </dxo-item-dragging>
            </dx-list>
            <dx-button
            stylingMode="contained"
            text="Add Custom fields"
            type="default"
            class="button__submit"
            [width]="120"
            (onClick)="onaddCustomFieldsForm()">
            </dx-button>
        </div>
    </div>
</div>

<div id="container">
<dx-popup
        [width]="300"
        [height]="250"
        [showTitle]="false"
        [title]="title"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible">
        <dxo-position
            my="top"
            at="top"
            of="#targetElement">
        </dxo-position>
            <div class="label">Create New Tab</div>
            <dx-text-box
                [(value)]="name">
            </dx-text-box>
            <div class="error__message" *ngIf="(!name || name == '') && submit">Tab name is required </div>
            <div class="buttons__group">
            <dx-button
                stylingMode="contained"
                text="Create"
                type="default"
                class="button__submit"
                [width]="120"
                (onClick)="onFormSubmit();">
            </dx-button>
            <dx-button
                stylingMode="outlined"
                text="Cancel"
                type="normal"
                class="button__submit"
                [width]="120"
                (onClick)="popupVisible = false;">
            </dx-button>
        </div>
    </dx-popup>
</div>

<!-- custom fields popup -->
<div id="container">
    <dx-popup
            [width]="300"
            [height]="250"
            [showTitle]="false"
            [title]="'Add Custom Fields'"
            [dragEnabled]="false"
            [closeOnOutsideClick]="true"
            [(visible)]="addcustomfields">
            <dxo-position
                my="top"
                at="top"
                of="#targetElement">
            </dxo-position>
                <div class="label">Add Custom Fields</div>
                <dx-text-box
                    placeholder="Custom field name"
                    [(value)]="field_name">
                </dx-text-box>
                <div class="error__message" *ngIf="(!name || name == '') && submit">Tab name is required </div>
                <dx-select-box
                class="margin__top"
                [items]="['Numeric', 'Text']"
                [(value)]="field_type"></dx-select-box>
                <div class="buttons__group__form">
                <dx-button
                    stylingMode="contained"
                    text="Create"
                    type="default"
                    class="button__submit"
                    [width]="120"
                    (onClick)="onFormSubmitOfCustomField();">
                </dx-button>
                <dx-button
                    stylingMode="outlined"
                    text="Cancel"
                    type="normal"
                    class="button__submit"
                    [width]="120"
                    (onClick)="addcustomfields = false;">
                </dx-button>
            </div>
        </dx-popup>
    </div>
    <!-- Cusom Fields popup over -->