.form-avatar {
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  overflow: hidden;

  img {
    height: 120px;
    display: block;
    margin: 0 auto;
  }
}

::ng-deep .content{
  text-align: justify;
  margin-top: 25px;
}
::ng-deep #longtabs{
  margin-top: 20px;
}
::ng-deep #scrolledtabs {
  margin-top: 20px;
}
::ng-deep #tabs {
  margin-top: 60px;
}
::ng-deep .caption{
  font-size: 16px;
  padding-bottom: 3px;
  padding-left: 10px;
}
::ng-deep .left-aligned {
  text-align: left;
}
.button__submit{ 
  margin: 12px;
}
.error__message {
  color: red;
}
.buttons__group {
  text-align: center;
  margin-top: 4vh;
}
.label {
  font-size: 18px;
  font-weight: bold;
}
.buttons__group__form {
  text-align: center;
}
.margin__top {
  margin-top: 4vh;
}