:host {
  @import "../themes/generated/variables.base.scss";
  background-color: darken($base-bg, 5.00);
  display: flex;
  height: 100%;
  width: 100%;
}
::ng-deep .dx-popup-normal {
  top: 20vh !important;
}