.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

::ng-deep .list-container {
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
::ng-deep .dx-list-item-content {
  color: blue;
}
.list {
   margin: 12px;
   background: #FFFFFF;
}
::ng-deep .product > div {
  padding-left: 10px;
  vertical-align: top;
  font-size: 15px;
  float: left;
}
::ng-deep .product > div.price {
  float: right;
  font-size: 18px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}
