<div class="list-container">
  <dx-list class="list" [items]="products" height="100%">
  <div *dxTemplate="let item of 'item'">
          <div class="product" routerLink="/tabs">
              <div>{{item.Name}}</div>
          </div>
      </div>
  </dx-list>
</div>